<%= erb :_errors %>
<section class='question-container'>
  <h2><%=@question.title%></h2>
  <p><%=@question.body%></p>
  <a class='question-comment' href="/questions/<%=@question.id%>/comment">Add comment</a>
    <%= erb :'/comments/_new_question', locals: {question: @question}%>
</section>

<section class='answer-container'>
  <% @question.answers.each do |answer| %>
  <div class='answer-div'>
    <div id='<%=answer.id%>'>
      <%= erb :'/answers/_show', locals: {answer: answer} %>
    </div>
    <a class='answer-comment' href="/answers/<%=answer.id%>/comment">Add Comment</a>
    <%= erb :'/comments/_new_answer', locals: {answer: answer} %>
  </div>
  <% end %>
</section>
